<section class="main-section">
  <div class="container">
    <div class="row">
      <div class="d-none d-md-block col-md-3 faq-nav mb-5">
        <div class="sidebar-item">
          <div class="make-me-sticky">
            <ul>
              <li><%= link_to "Apa itu Elektroplating?", "#apa-itu-elektroplating" %></li>
              <li><%= link_to "Mengapa Diperlukan Proses Elektroplating?", "#mengapa-diperlukan-proses-elektroplating" %></li>
              <li><%= link_to "Hal-hal Apa Saja Yang Diperlukan Untuk Proses Elektroplating / Penyepuhan Perhiasan?" , "#hal-hal-apa-saja-yang-diperlukan-untuk-proses-elektroplating-penyepuhan-perhiasan" %></li>
              <li><%= link_to "Hal-hal apa saja yang menyebabkan proses Elektroplating / penyepuhan menjadi kurang maksimal?", "#hal-hal-apa-saja-yang-menyebabkan-proses-elektroplating-penyepuhan-menjadi-kurang-maksimal" %></li>
              <li><%= link_to "Bagaimana Memaksimalkan Proses Singkat dari Elektroplating / Penyepuhan?", "#bagaimana-memaksimalkan-proses-singkat-dari-elektroplating-penyepuhan" %></li>
              <li><%= link_to "Hal-hal Apa Saja yang berbahaya Dalam Proses Elektroplating / Penyepuhan?", "#hal-hal-apa-saja-yang-berbahaya-dalam-proses-elektroplating-penyepuhan" %></li>
              <li><%= link_to "Berapa Lama Ketahanan hasil dari Elektroplating / Penyepuhan?", "#berapa-lama-ketahanan-hasil-dari-elektroplating-penyepuhan" %></li>
              <li><%= link_to "Apakah Proses Elektroplating ini Menyebabkan Penyusutan Berat Perhiasan? Berapa Toleransi Susut Perhiasan?", "#apakah-proses-elektroplating-ini-menyebabkan-penyusutan-berat-perhiasan?-berapa-toleransi-susut-perhiasan" %></li>
              <li><%= link_to "Bagaimana Cara Perawatan Alat-alat Pendukung Proses Elektroplating?", "#bagaimana-cara-perawatan-alat-alat-pendukung-proses-elektroplating" %></li>
              <li><%= link_to "Berapa Kapasitas Barang yang Dapat Disepuh per Liternya?", "#berapa-kapasitas-barang-yang-dapat-disepuh-per-liternya" %></li>
              <li><%= link_to "Apakah Proses Elektroplating Dapat Dilakukan Pada Emas Muda, Tua, atau Perak?", "#apakah-proses-elektroplating-dapat-dilakukan-pada-emas-muda-tua-atau-perak" %></li>
              <li><%= link_to "Kapan Cairan Harus Diganti?", "#kapan-cairan-harus-diganti" %></li>
              <li><%= link_to "Apakah Sampah-sampah Keseluruhan Proses ini Boleh Dibuang Begitu Saja?", "#apakah-sampah-sampah-keseluruhan-proses-ini-boleh-dibuang-begitu-saja" %></li>
              <li><%= link_to "Apakah Luminous Menjual Peralatan Pendukung Proses?", "#induksi" %></li>
              <li><%= link_to "Apakah Luminous Dapat Untuk Mempraktekkan Hasil dan Mengajari Tim Konsumen Terkait Proses Elektroplating?", "#apakah-luminous-dapat-untuk-mempraktekkan-hasil-dan-mengajari-tim-konsumen-terkait-proses-elektroplating" %></li>
              
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-9 faq-content">
        <div class="faq-item" id="apa-itu-elektroplating">
          <h2>Apa itu Elektroplating?</h2>
          <p>Elektroplating merupakan proses untuk pelapisan material dengan logam lain menggunakan arus listrik.</p>
        </div>
        <div class="faq-item" id="mengapa-diperlukan-proses-elektroplating">
          <h2>Mengapa Diperlukan Proses Elektroplating?</h2>
          <p>Elektroplating diperlukan untuk meningkatkan kualitas logam, yang dapat menambah nilai jual, dalam hal ini perhiasan.</p>
        </div>
        <div class="faq-item" id="hal-hal-apa-saja-yang-diperlukan-untuk-proses-elektroplating-penyepuhan-perhiasan">
          <h2>Hal-hal Apa Saja Yang Diperlukan Untuk Proses Elektroplating / Penyepuhan Perhiasan?</h2>
          <ul>
            <li>Anoda plat sepuh</li>
            <li>Katoda barang yang akan diproses</li>
            <li>Larutan dengan kandungan ion logam beserta wadah</li>
            <li>Adaptor AC -> DC sebagai pengirim arus listrik</li>
          </ul>
        </div>
        <div class="faq-item" id="hal-hal-apa-saja-yang-menyebabkan-proses-elektroplating-penyepuhan-menjadi-kurang-maksimal">
          <h2>Hal-hal apa saja yang menyebabkan proses Elektroplating / penyepuhan menjadi kurang maksimal?</h2>
          <ul>
            <li>Anoda yang digunakan tidak konduktif.</li>
            <li>Kualitas larutan ion logam (emas/ rhodium) yang buruk.</li>
            <li>Pengirim arus yang rusak.</li>
            <li>Katoda/ barang yang akan diproses belum dibersihkan dengan maksimal.</li>
          </ul>
        </div>
        <div class="faq-item" id="bagaimana-memaksimalkan-proses-singkat-dari-elektroplating-penyepuhan">
          <h2>Bagaimana Memaksimalkan Proses Singkat dari Elektroplating / Penyepuhan?</h2>
          <ol type="a">
            <li>Proses pemolesan perhiasan -> bertujuan untuk menghilangkan garis-garis dan noda yang mengakibatkan perhiasan terlihat kusam.</li>
            <li>Proses cleaning -> bertujuan untuk membersihkan kotoran dan debu poles sehingga perhiasan menjadi bersih. Selain itu, proses ini bertujuan untuk memaksimalkan warna batu-batu pada perhiasan.</li>
            <li>
              Proses degreasing -> bertujuan untuk membersihkan perhiasan dari lemak tangan atau kotoran-kotoran yang tidak dapat dibersihkan di proses cleaning.<br />
              CLD (khusus sepuhan rhodium) -> bertujuan untuk membersihkan perhiasan dari cairan degreasing, alloy, penetral pH, dan sebagai perekat, agar hasil sepuhan rhodium menjadi maksimal.
            </li>
            <li>Proses chrome/sepuh -> bertujuan untuk memaksimalkan warna perhiasan sesuai yang diinginkan. Proses (a) sampai dengan (c) akan sangat menentukan kualitas dari warna akhir perhiasan, oleh karena itu setiap proses harus dimaksimalkan.</li>
          </ol>
        </div>
        <div class="faq-item" id="hal-hal-apa-saja-yang-berbahaya-dalam-proses-elektroplating-penyepuhan">
          <h2>Hal-hal Apa Saja yang berbahaya Dalam Proses Elektroplating / Penyepuhan?</h2>
          <ul>
            <li>Debu poles.</li>
            <li>Gas rhodium yang menguap saat kita menyepuh.</li>
            <li>Cairan CLD (untuk perhiasan putih) dapat menimbulkan rasa gatal.</li>
            <li>Konsleting adaptor.</li>
          </ul>
          <p>Untuk itu, gunakan masker dan sarung tangan agar proses Elektroplating / penyepuhan menjadi lebih aman.</p>
        </div>
        <div class="faq-item" id="berapa-lama-ketahanan-hasil-dari-elektroplating-penyepuhan">
          <h2>Berapa Lama Ketahanan hasil dari Elektroplating / Penyepuhan?</h2>
          <p>Tergantung dari kadar emas/perak dan seberapa lama/tebalnya proses penyepuhan. Kedua hal ini berbanding lurus dengan kekuatan hasil penyepuhan sebelum kembali teroksidasi.</p>
        </div>
        <div class="faq-item" id="apakah-proses-elektroplating-ini-menyebabkan-penyusutan-berat-perhiasan?-berapa-toleransi-susut-perhiasan">
          <h2>Apakah Proses Elektroplating ini Menyebabkan Penyusutan Berat Perhiasan? Berapa Toleransi Susut Perhiasan?</h2>
          <p>Ya, 0.025%</p>
        </div>
        <div class="faq-item" id="bagaimana-cara-perawatan-alat-alat-pendukung-proses-elektroplating">
          <h2>Bagaimana Cara Perawatan Alat-alat Pendukung Proses Elektroplating?</h2>
          <ul>
            <li>Mencuci bersih setiap barang yang terpapar cairan dengan air distilasi (contoh aquades/ amidis), lalu dikeringkan.</li>
            <li>Khusus untuk pen platina, cabut gabus, lalu rendam air ditilasi panas lalu keringkan, plat platina dilap menggunakan kapas basah lalu keringkan.</li>
          </ul>
        </div>
        <div class="faq-item" id="berapa-kapasitas-barang-yang-dapat-disepuh-per-liternya">
          <h2>Berapa Kapasitas Barang yang Dapat Disepuh per Liternya?</h2>
          <p>Dengan asumsi barang campur, setiap liter obat chrome warna kuning/merah *kadar 0.5 gram/ L), 
             dapat menampung 1 kg perhiasan. Untuk penyepuhan menggunakan rhodium warna putih/hitam/biru donker 
             (dengan kadar 1 gram/L), dapat menampung 1 kg perhiasan</p>
        </div>
        <div class="faq-item" id="apakah-proses-elektroplating-dapat-dilakukan-pada-emas-muda-tua-atau-perak">
          <h2>Apakah Proses Elektroplating Dapat Dilakukan Pada Emas Muda, Tua, atau Perak?</h2>
          <p>Proses dapat dilakukan pada ketiga jenis perhiasan di atas, hanya saja untuk perak dan emas muda, 
             obat chrome/rhodium akan lebih boros ketimbang saat melakukan penyepuhan pada perhiasan emas tua.</p>
        </div>
        <div class="faq-item" id="kapan-cairan-harus-diganti">
          <h2>Kapan Cairan Harus Diganti?</h2>
          <ul>
            <li>Saat sudah mulai kotor dan tercemar, indikatornya dapat kita lihat dengan mata 
                telanjang dan dari hasil proses.</li>
            <li>Saat proses pewarnaan (kuning/merah/putih/hitam) sudah melewati ambang batas 
                kapasitas, atau menurut selera konsumen. Apabila warna sudah kurang baik, 
                cairan chrome/ rhodium dapat diganti.</li>
          </ul>
        </div>
        <div class="faq-item" id="apakah-sampah-sampah-keseluruhan-proses-ini-boleh-dibuang-begitu-saja">
          <h2>Apakah Sampah-sampah Keseluruhan Proses ini Boleh Dibuang Begitu Saja?</h2>
          <p>Semua sampah dari proses dapat diolah kembali dan memiliki nilai jual, kecuali cairan degreasing.</p>
        </div>
        <div class="faq-item" id="apakah-luminous-menjual-peralatan-pendukung-proses">
          <h2>Apakah Luminous Menjual Peralatan Pendukung Proses?</h2>
          <p>Ya, kami dapat menyediakan peralatan pendukung.</p>
        </div>
        <div class="faq-item" id="apakah-luminous-dapat-untuk-mempraktekkan-hasil-dan-mengajari-tim-konsumen-terkait-proses-elektroplating">
          <h2>Apakah Luminous Dapat Untuk Mempraktekkan Hasil dan Mengajari Tim Konsumen Terkait Proses Elektroplating?</h2>
          <p>Ya, dengan senang hati Luminous bersedia. Anda dapat menghubungi tim kami via :</p>
          <ul>
            <li>whatsapp +62 81223 8888 26 / +62 81223 8888 25</li>
            <li>email ke info@luminous-id.com</li>
          </ul>
        </div>
		  </div>
    </div>
  </div>
</section>

