<% content_for :javascript_includes do %>
  <%= javascript_include_tag "owl.carousel", "slick" %>
  <%= stylesheet_link_tag  "owl.carousel", "animate", "owl.theme", "slick", "slick-theme", "lunar" %>
<% end %>

<script>
  jQuery(document).ready(function($) {
    $('.banner, .services-slider').owlCarousel({
      animateOut: 'fadeOut',
      animateIn: 'fadeIn',
      loop: true,
      autoplay: false,
      autoplayHoverPause: true,
      items: 1,
      nav : true,
      dotsEach: true,
      autoplaySpeed: 50000,
      navText : ['<span class="fa-stack"><i class="fa fa-circle fa-stack-1x"></i><i class="fa fa-chevron-circle-left fa-stack-1x fa-inverse"></i></span>','<span class="fa-stack"><i class="fa fa-circle fa-stack-1x"></i><i class="fa fa-chevron-circle-right fa-stack-1x fa-inverse"></i></span>']
    });
  });
</script>

<section id="pre-banner" class="main-section bg-black-gradient no-padding-lr">
  <div class="row justify-content-center no-margin-lr">
    <div class="col-12 no-padding-lr">
      <%= image_tag "sub-banner.jpg", class: "img-fluid web-display" %>
      <%= image_tag "sub-banner-mobile.jpg", class: "img-fluid mobile-display" %>
    </div>
  </div>
</section>
<!-- header -->

<section id="home">
  <div class="banner owl-carousel owl-theme">
    <% @banners.each do |banner| %>
      <div class="item">
        <%# <div class="custom-overlay-inner">
          &nbsp;
        </div> %>
        <%= image_tag banner.image.url(:large) %>
        <div class="img-gradation"></div>
      </div>
    <% end %>
  </div>
</section>
<section id="services" class="main-section bg-black-gradient no-padding-lr">
  <div class="row justify-content-center no-margin-lr">
    <h1>OUR SERVICES</h1>
  </div>
  <div class="row justify-content-center no-margin-lr">
    <div class="col-12 col-md-6 services-image">
      <%= image_tag "640-Konsultasi.png", class: "img-fluid" %>
    </div>
    <div class="col-12 col-md-6 services-detail my-auto">
      <div class="services-detail-content">
        <h2>KONSULTASI</h2>
        <p>
          Kami memberikan ruang untuk berdikusi dan berkonsultasi
          supaya pelaku industri sepuh perhiasan emas dapat
          memberikan pelayanan terbaik bagi konsumennya.
        </p>
      </div>
    </div>
    <div class="col-12 col-md-6 services-image order-md-2">
      <%= image_tag "640-Pelatihan.png", class: "img-fluid" %>
    </div>
    <div class="col-12 col-md-6 services-detail my-auto order-md-1">
      <div class="services-detail-content">
        <h2>PELATIHAN</h2>
        <p>
          Kami memberikan pelatihan teknik penyepuhan menggunakan produk LMS hingga
          konsumen mampu mengerjakan secara mandiri.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="product" class="main-section">
  <div class="col-12">
    <div class="row justify-content-center img-slider no-margin-lr">
      <h1>OUR PRODUCTS</h1>
      <div class="col-10 center tiles">
        <% @products.each do |product| %>
          <div>
            <%= link_to show_modal_product_detail_path(product.permalink),
                        class: "tile show-modal", remote: true do %>
              <%= image_tag product.get_image("medium"), class: "img-fluid" %>
              <div class="details">
                <span class="title"><%= product.name %></span>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="col-10 pagingInfo"></div>
      <!-- Modal Start -->
      <div class="modal fade"  id="product-detail-modal"  tabindex="-1" role="dialog"
          aria-labelledby="demoModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered  modal-lg  " role="document">
          <div class="modal-content">
            <div class="container-fluid">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <div class="row product-detail">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal Ends -->
    </div>
  </div>
  <div class="col-12 faq-home">
    <h2 class="header">FAQs</h2>
    <div class="text">
      Here are our frequently asked questions. 
      For any further enquiries feel free to contact us!<br /><br />
      <%= link_to "FIND OUT MORE", faq_path, class: "btn btn-outline-black" %>
    </div>
  </div>
  <div class="col-12 vid-home">
    <div class="row justify-content-center no-margin-lr">
      <div class="col-12 mb-5">
        <h2 class="header">TUTORIAL VIDEOS</h2>
      </div>
      <div class="col-12 col-md-6 text-center mb-3">
        <div class="embed-responsive embed-responsive-16by9">
          <%= youtube_video "https://www.youtube.com/embed/BgjEVwa23bQ" %>
        </div>
      </div>
      <div class="col-12 col-md-6 text-center mb-3">
        <div class="embed-responsive embed-responsive-16by9">
          <%= youtube_video "https://www.youtube.com/embed/tmnWvQ2Cc1g" %>
        </div>
      </div>
    </div>
  </div>

</section>

<section id="hubungi-kami" class="main-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="header">GET IN TOUCH</h2>
      </div>
      <div class="col-12 col-lg-7">
        <div class="ca-form">
          <%= render :partial => "shared/flash" %>
          <div class="cf-msg" style="display: none;"></div>
          <%= simple_form_for @contact, url: save_contact_us_path(anchor: "hubungi-kami"), wrapper: :vertical_form,
                    wrapper_mappings: { check_boxes: :vertical_collection } do |f| %>
            <div class="row">
              <div class="col-12"><%= f.error_notification %></div>
              <div class="col-6">
                <div class="ca-input-box">
                  <%= f.input :name, label_html: { class: 'sr-only' }, placeholder: "Name" %>
                </div>
              </div>
              <div class="col-6">
                <div class="ca-input-box">
                  <%= f.input :phone, label_html: { class: 'sr-only' }, placeholder: "Phone Number" %>
                </div>
              </div>
              <div class="col-12">
                <div class="ca-input-box">
                  <%= f.input :email, label_html: { class: 'sr-only' }, placeholder: "Email" %>
                </div>
              </div>
              <div class="col-12">
                <div class="ca-input-box">
                  <%= f.input :content, label_html: { class: 'sr-only' }, placeholder: "Write Message", 
                              as: "text", :input_html => { :rows => 9 } %>
                </div>
              </div>

              <div class="col-12 col-md-6">
                <span><%= recaptcha_tags %></span>
              </div>

              <div class="col-12 col-md-6">
                <button type="submit" class="btn btn-outline-yellow">Send Message</button>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-12 col-lg-5">
        <div class="row">
          <div class="col-12">
            <div class="ca-info">
              <ul class="info">
                <li>
                  <span class="icon"><%= fa_icon "map-marker" %></span>
                  <span class="title">OUR LOCATION</span>
                  <span class="details">
                    Jalan Derwati, Ruko de Marrakesh Blok A1 No. 9, Kecamatan Rancasari<br />
                    Kota Bandung, Jawa Barat 40292<br />
                    Indonesia
                  </span>
                </li>
                <li>
                  <span class="icon"><%= fa_icon "phone" %></span>
                  <span class="title">CALL US ON</span>
                  <span class="details">+62 812-2388-8825<br />+62 812-2388-8826</span>
                </li>
                <li>
                  <span class="icon"><%= fa_icon "envelope-o" %></span>
                  <span class="title">SEND YOUR MESSAGE</span>
                  <span class="details">info@luminous-id.com<br />sales@luminous-id.com</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  $(document).ready(function () {
    var $status = $('.pagingInfo');
    var $slickElement = $('.center');

    $slickElement.on('init reInit afterChange', function (event, slick, currentSlide, nextSlide) {
        //currentSlide is undefined on init -- set it to 0 in this case (currentSlide is 0 based)
        var i = (currentSlide ? currentSlide : 0) + 1;
        $status.text(i + '/' + slick.slideCount);
    });

    $('.center').slick({
      centerMode: true,
      slidesToShow: 3,
      responsive: [
        {
          breakpoint: 768,
          settings: {
            arrows: false,
            centerMode: true,
            centerPadding: '40px',
            slidesToShow: 1
          }
        }
      ]
    });


    if(window.location.href.indexOf("#") >= 0){
      anr = "#" + window.location.href.split("#")[1];
      $('html, body').animate({
          scrollTop: $(anr).offset().top - 80
      }, 600);
    }
    $(window).on('scroll', function () {
      mainSection = $('.main-section'),
      mainSectionLength = mainSection.length,
      links = $('#menu li'),
      flag = 0,
      flag2 = 0,
      lastI = 100,
      myWindow = $(window);

// change navbar active link while scrolling
      if (flag === 0 && mainSectionLength) {
          flag = 1;
          flag2 = 0;
          for (let i = mainSectionLength - 1; i >= 0; i--) {
              if (myWindow.scrollTop() >= mainSection.eq(i).offset().top-81) {
                  if (i != lastI) {
                      links.eq(i + 1).addClass('active').siblings().removeClass('active');
                      lastI = i;
                  }
                  flag2 = 1;
                  break;
              }
          }
          if (flag2 === 0) {
              links.eq(0).addClass('active').siblings().removeClass('active');
              lastI = -1;
          }
          flag = 0;
      }
    });
  });
</script>
