<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <% if @meta_description.present? %>
      <meta name="description" content="<%= @meta_description %>">
    <% end %>
    <meta name="author" content="">
    <title><%= @meta_title ? @meta_title : ApplicationController::BRAND_NAME %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', 'style' %>
    <%= javascript_include_tag 'application' %>
    <%= yield :javascript_includes %>
    <%= yield :css_includes %>
    <!--[if lt IE 9]>
      <script src="/assets/html5shiv.js"></script>
      <script src="/assets/respond.min.js"></script>
    <![endif]-->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155284095-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-155284095-1');
    </script>

    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>
    <!-- navbar -->
    <nav id="nav" class="navbar navbar-expand-lg navbar-light bg-black sticky-top">
      <div class="container">
        <%= link_to root_path, class: "navbar-brand logo" do %>
          <%= image_tag "luminous-plating-solution-logo.png", class: "img-fluid", alt: "luminous plating solution" %>
        <% end %> 
        <!-- menu bars -->

        <button class="custom-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul id="menu" class="nav links" >
            <li class="nav-item active">
              <%= link_to raw("HOME<span class='slider'></span> "), 
                          root_path(anchor: "home"), class: "underline active" %>
            </li>
            <li class="nav-item">
              <%= link_to raw("SERVICES<span class='slider'></span> "), 
                          root_path(anchor: "services"), class: "underline active" %>
            </li>
            <li class="nav-item">
              <%= link_to raw("PRODUCTS<span class='slider'></span> "), 
                          root_path(anchor: "product"), class: "underline active" %>
            </li>
            <li class="nav-item">
              <%= link_to raw("CONTACT US<span class='slider'></span> "), 
                          root_path(anchor: "hubungi-kami"), class: "underline active" %>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <%= yield %>

    <div class="fixed-bottom text-right">
      <%= link_to (image_tag "wa-icon.png", class: "img-fluid contact-wa", alt: "Luminous obat sepuh perhiasan terbaik"),
                  "https://api.whatsapp.com/send?phone=+6281223888825", target: "_blank" %>
    </div>

    <footer>
      <div class="footer-top-area">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-6">
              <div class="fw-info footer-widget">
                <div class="flogo">
                  <%= image_tag "luminous-plating-solution-logo.png", class: "logo2 img-fluid",
                                style: "width:200px", alt: "luminous plating solution" %>
                </div>
                <p class="text">
                  OBAT SEPUH PERHIASAN TERBAIK telah melayani ratusan toko emas 
                  dan terbukti hasilnya
                </p>
              </div>
            </div>
            <div class="col-md-2 col-6">
              <div class="fw-links footer-widget">
                <h2 class="title">SERVICES</h2>
                <ul class="links">
                  <li><%= link_to "Home", root_path(anchor: "home") %></li>
                  <li><%= link_to "Services", root_path(anchor: "services") %></li>
                  <li><%= link_to "Products", root_path(anchor: "product") %></li>
                  <li><%= link_to "Contact Us", root_path(anchor: "hubungi-kami") %></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 col-6">
              <div class="fw-links footer-widget connect">
                <h2 class="title">CONNECT</h2>
                <%= link_to (image_tag "icon-bukalapak.png", class: "img-fluid", 
                                       alt: "Luminous obat sepuh perhiasan terbaik online shop bukalapak"), 
                            "https://www.bukalapak.com/u/luminous502", target: "_blank" %>
                <%= link_to (image_tag "icon-tokopedia.png", class: "img-fluid", 
                                       alt: "Luminous obat sepuh perhiasan terbaik online shop tokopedia"),
                            "#" %>
                <%= link_to (image_tag "icon-shopee.png", class: "img-fluid", 
                                       alt: "Luminous obat sepuh perhiasan terbaik online shop shopee"),
                            "https://shopee.co.id/thezeff", target: "_blank" %>
              </div>
            </div>
            <div class="col-md-4 col-6">
              <div class="fw-contact footer-widget">
                <h2 class="title">CONTACT</h2>
                <p class="text">
                  <span class='small-header'>OUR LOCATION</span><br />
                  PT. LUMINOUS CAHAYA NUSANTARA<br />
                  JL. DERWATI, RUKO DE MARRAKESH Blok A1 No. 9, Kecamatan Rancasari<br />
                  KOTA BANDUNG, JAWA BARAT 40292
                </p>
                <p class="text">
                  <span class='small-header'>CALL US ON</span><br />
                  +62 812-2388-8825<br />
                  +62 812-2388-8826
                </p>
                <p class="text">
                  <span class='small-header'>SEND YOUR MESSAGE</span><br />
                  INFO@LUMINOUS-ID.COM<br /> 
                  SALES@LUMINOUS-ID.COM
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom-area">
        <div class="container">
          <div class="row">
              <div class="col-12">
                <div class="copyright">
                  <p>Copyright © <%= Date.today.year %> 
                     <span class="custom-green">Luminous</span>. All Rights Reserved.</p>
                </div>
              </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
